@import '../../scss/variables.scss';
.posts{

    .header{
        position: fixed;
        width: 100%;
        z-index: 100;
        
    }
    .filters{
        padding-top: 150px;
        .form-control{
            border: 1px solid black;
            font-size: small;
            color: black;
            
            
            &::placeholder{
                color: black;
                
            }
        }
    }

    .row{
        padding:$padding
    }


    
}