.tabs{
    
    .tab{
        p{
            color: black;
            margin-bottom: 5px;
            
        }
       
    }
    .tab-content{
        max-width: 600px;

    }

    .traction{
        .d-flex{
            
            p{
                margin-bottom: 0;
            }
        }
    }

    .graphs{
        img{
            width: 100%;
        }
    }
}